body {
    font-family: 'Mukta', sans-serif;
}
// VARIABLES
$min-width : 768px;


// TEMPLATES

%h2 {
    font-size: 32px;
    color: #545454;
    font-weight: bold;
}

%goalsblock-style {
    background-color: #ffffff;
    height: 100px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px 0;
    border-radius: 7px;
}

%goalsblock-text2-style {
    font-size: 32px;
    font-weight: bold;
    color: #282828;
}

%registrtationform {
    height: 60px;
    border-radius: 40px;
}

////GOALS PAGE

.goals__block {
    @extend %goalsblock-style;
    .icon {
        font-size: 35px;
        color: #a9acad;
    }
}

.goals__block__text1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.block__text1__blue {
    color: #0000ff;
}

.block__text1__green {
    color: #008000;
}

.block__text1__red {
    color: #ff0000;
}

.block__text1__orange {
    color: #ffa500;
}

.block__text1__purple {
    color: #663399;
}

.goals__block__text2 {
    @extend %goalsblock-text2-style;
}

.progress {
    width: 100%;
    margin: 0 20px;
    border-radius: 10px;
    .progress-bar {
        background-color: #42AAFF;
    }
}

.todo-list {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px auto;
    border-radius: 7px;
    background-color: #ffffff;
    padding: 0;
    height: auto;
    div {
        padding: 10px 0;
    }
    .todo-list-block {
        border-bottom: 3px solid #f8f9fa;
    }
    input {
        margin-right: 15px;
    }
    .list-block-end {
        border: 0;
    }
}

.todo-list-title {
    @extend %goalsblock-text2-style;
    color: #42AAFF;
    margin-left: 15px;
}

.todo-list-text {
    @extend %goalsblock-text2-style;
    margin-left: 15px;
}

.todo-list-time {
    margin-left: 15px;
}


//REGISTRATION PAGE

.registration-block {
    border: 20px solid rgb(58, 78, 253);
    .author-img {
        width: 100%;
    }
    .form-block {
        margin: 0 auto;
        .form-row {
            justify-content: center;
        }
    }
    div {
        padding: 0;
    }
    .h2 {
        text-align: center;
        margin-top: 20px;
    }
    .form-group {
        .form-control {
            @extend %registrtationform;
            padding-left: 25px;
        }
    }
    .form-group-link {
        text-align: center;
        margin-bottom: 5px;
        a {
            text-decoration: underline;
        }
    }
    .btn {
        @extend %registrtationform;
        margin-top: 0;
        border: 0;
        .fa-brands {
            margin-right: 5px;
        }
    }
    .btn-register {
        margin-top: 20px;
    }
    .btn-google {
        background-color: #FF4800;
        margin-bottom: 10px;
    }
    .btn-facebook {
        background-color: #2C2A91;
    }
}

//PROFILE PAGE

.profile-block {
    @extend %goalsblock-style;
    padding: 0;
    height: auto;
    margin: 10px 20px;
    align-items: center;
    justify-content: center;
    img {
        width: 50%;
        border-radius: 50%;
        margin: 3%;
    }
    .btn {
        margin-bottom: 20px;
    }
    .profile-block-header {
        background-color: #e6e7e7;
    }
    .profile-block-content {
        margin-bottom: 25px;
    }
    .todo-list-title {
        padding: 20px 20px;
        font-size: 20px;
        margin-left: 0;
        border-bottom: 2px solid #DCDCDC;
    }
    .profile-block-text {
        font-size: 20px;
        font-weight: bold;
        padding: 3% 5%;
        color: #7a7979;
    } 
    .progress {
        margin: 0 auto;
        width: 90%;
        height: .5rem;
    }
    .progress-bootstrap {
        background-color: #E32636;
    }
    .progress-sass {
        background-color: #FFCF40;
    }
    .progress-pseudoclasses {
        background-color: #30D5C8;
    }
    .progress-html {
        background-color: #34C924;
    }
    .form-block {
        margin: 0 auto;
        .form-row {
            justify-content: center;
        }
    }
    .form-group {
        .form-control {
            width: 90%;
            height: 50px;
            margin: 0 20px;
        }
        .profile-block-text {
            padding: 10px 20px;
        }
        .btn {
            width: auto;
            margin-left: 20px;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

// ALL

.container-fluid {
    padding: 0;
    .row {
        margin: 0;
    }
}

.content-container {
    background-color: #DCDCDC;
    padding: 0 5%;
    .h2 {
        margin: 10px 0;
    }
}

.navbar {
    width: 100%;
}

.nav-flex-icons {
    flex-direction: row;
    .nav-item {
        margin-right: 15px;
    }
}

.nav-link {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #a9acad;
}

.h2 {
    @extend %h2;
}

.footer {
    background-color: #DCDCDC;
    height: 100px;
    font-size: 18px;
    color: #a9acad;
    font-weight: bold;
    vertical-align: 0%;
}

@media (max-width: $min-width) {
    .registration-block {
        div {
            justify-content: center;
        }
        .author-block {
            display: none;
        }
    }
}